{% extends 'base.html' %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-half">
        <h3 class="is-size-3">{{ }}さんの投稿一覧</h3>
        <br>
        {}
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <img src="{{ post.skatepark.skatepark_image.url }}" width="270" height="420">
                </div>
                <div class="content">
                    <p class="is-size-5">
                        <a href="{{ post.get_absolute_url }}">
                            <strong>{{}}</strong>
                        </a>
                    </p>
                    <div class="block">
                        {% comment %} 投稿内容が75文字以上だったらそれ以降は表示しない {% endcomment %}
                        {{  }}
                    </div>
                </div>
            </article>
        </div>
        {}
    </div>
</div>

{% endblock content %}