<nav class="navbar is-warning mb-6 p-2">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'list' %}">
            Otakker
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'list' %}">
                投稿一覧
            </a>
            <a class="navbar-item" href="{% url 'list' %}">
                投稿作成
            </a>
        </div>
  
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">

                <p class="mr-6">さん、ようこそ</p>
                    <a class="button is-text" href="{% url 'list' %}">ログアウト</a>

                    <a class="button is-dark" href="{% url 'list' %}">
                        <strong>新規登録</strong>
                    </a>
                    <a class="button is-light" href="{% url 'list' %}">
                        ログイン
                    </a>

                </div>
        </div>
    </div>
</nav>